 #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #118F77;
  color: white;
  text-align: center;
  display: grid;
  background-image: url('../images/boxx.jpg');
  background-size: cover;

}


img {
  back
}

